.patient-list {
  display: flex;
  flex-direction: column;
  height: 120vh;
}

.patient-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px;
  border-bottom: 1px solid #ededed;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.search-btn:hover {
  background-color: #f6f6f6;
}

.patient-list-items {
  flex: 1;
  overflow-y: scroll;
}
.patient-list-items::-webkit-scrollbar {
  width: 5px;
}

.patient-list-items::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 4px;
}

.patient-list-items::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

.patient-list-items::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d;
}

.patient-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.patient-item:hover {
  background-color: #f6f6f6;
}

.patient-item.active {
  background-color: #d8fcf7;
}

.patient-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.patient-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.patient-name {
  font-size: 14px;
  font-weight: 700;
}

.patient-info {
  font-size: 14px;
  color: #707070;
}

.patient-menu {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.patient-menu:hover {
  background-color: #ededed;
}
